.App {
  background-color: #1e1e2f;
  min-height: 100vh;
  color: white;
}
.content {
  margin-left: 64px;
  padding: 10px 20px 20px 20px;
}
.content.expand {
  margin-left: 240px;
  /* padding: 10px 20px 20px 20px; */
}