.App {
  background-color: #1e1e2f;
  min-height: 100vh;
  color: white;
}
.content {
  margin-left: 64px;
  padding: 10px 20px 20px 20px;
  overflow: scroll;
}
.content.expand {
  margin-left: 240px;
  overflow: scroll;
}

.Navbar {
  margin-left: 64px;
  padding: 10px 20px 20px 20px;
}
.Navbar.expand {
  margin-left: 240px;
}
.card-box {
  position: relative;
  padding: 10px 10px 20px 10px;
}
.table-hover {
  cursor: pointer;
}
.table-hover:hover {
  color: white;
}